.page-nav {
    display: none;
}

.ham-nav p {
    max-width: 300px;
    font-size: 25px;
}

#body-except-header {
    margin-left: 10px;
    margin-right: 10px;
}

#view-item-info-img-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

#view-item-img {
    min-height: 250px;
    padding: 20px;
    margin: auto;
}

#view-item-info {
   font-size: larger;
   line-height: 28px;
   max-width: 210px;
   margin: auto;
   padding-bottom: 15px;
}

.view-item-button {
    margin: 20px;
    min-height: 45px;
    line-height: 45px;
    font-size: 17px;
}

#view-item {
    max-width: 700px;
}

.clothes-category-button {
    width: 300px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    text-align: center;
    max-height: 30px;
    padding: 9px 0px;
}

.clothes-category-button.hidden {
    margin-top: 0px;
    margin-bottom: 0px;
}

.clothes-category-button:after {
    padding-right: 10px;
}

.item-section {
    width: 300px;
}

#new-item {
    max-width: 704px;
    font-size: larger;
    line-height: 45px;
    padding: 15px;
}

select {
    font-size: medium;
}

input {
    font-size: medium;
}

button {
    font-size: medium;
}

input::file-selector-button {
    font-size: medium;
    padding: 4px 3px;
}

#new-item-img {
    margin-top: 5px;
}

#switch-closet-mode {
    font-size: 17px;
    min-height: 45px;
    min-width: 170px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#update-item-button, #cancel-editing-button, #create-item {
    margin-top: 15px;
    min-height: 50px;
    min-width: 120px;
    margin-right: 60px;
}

#items-list {
    padding-bottom: 20px;
    min-height: 420px;
}

.item-button {
    min-height: 30px;
    min-width: 300px;
    font-size: large;
    background-color: rgb(229, 200, 255);
    margin-top: 5px;
}

#name, #color {
    margin-top: 10px;
    margin-left: 10px;
}