html {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body {
    padding-top: 50px;
}

p {
    white-space: pre-wrap;
}

button {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    background-color: rgb(246, 219, 255);
}

button:hover {
    background-color: rgb(251, 240, 255);
}

select {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input::file-selector-button {
    background-color: rgb(246, 219, 255);
    border: none;
}

input::file-selector-button:hover {
    background-color: rgb(251, 240, 255);
}

#new-item, #view-item {
    border: 1px solid black;
}

#history-container {
    white-space: pre;
}

header {
    position: fixed;
    z-index: 99;
    background-color: aliceblue;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
}

h1 {
    font-size: x-large;
    padding-left: 25px;
    font-weight: 450;
}

h2 {
    font-weight: normal;
}

img {
    max-height: 400px;
}

.clothes-category-button {
    background-color: rgb(232, 255, 247);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: auto;
    margin-right: auto;
    font-weight: 350;
}

.clothes-category-button.hidden {
    max-height: 0px;
    padding: 0px;
}

.clothes-category-button:after {
    content: '⮟';
    font-size: 13px;
    float: right;
}
  
.clothes-category-button.active:after {
    content: '⮝'; 
}

.clothes-category-button:hover {
    cursor: default;
    background-color: azure;
}

.item-section {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: auto;
}

.item-button {
    max-width: 200px;
    background-color: white;
    border: none;
    margin: auto;
}

.item-button:hover {
    background-color: rgb(251, 240, 255);
}

#outfit-check {
    max-height: 100px;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

/* Makes three hamburger lines */
.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height:  5px;
    background-color: #000000;
    margin: 6px 8px;
    transition: 0.4s;
}

/* Twist top line*/
.hamburger.is-active:before {
    transform: rotate(45deg) translate(0px, 15px);
}

/* Make middle line disappear */
.hamburger.is-active .bar {
    opacity: 0;
}

/* Twist bottom line other direction*/
.hamburger.is-active:after {
    transform: rotate(-45deg) translate(0px, -16px);
}

.ham-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: rgb(200, 226, 249);
    padding-top: 120px;
    transition: 0.4s;
}

.ham-nav.is-active {
    right:0;
}

.ham-nav p {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: rgb(255, 216, 255);

    color: black;
    font-size: large;
    font-weight: 300;
    font: "Segoe UI";
}

.ham-nav p:hover {
    background-color: rgb(247, 230, 247);
    cursor: pointer;
}

.page-nav {
    padding-left: 50px;
    font-weight: 300;
}

.page-nav:hover {
    cursor: pointer;
}

.view-item-button {
    background-color: rgb(246, 219, 255);
    border: none;
    text-align: center;
    vertical-align: middle;
}

.view-item-button:hover {
    background-color: rgb(245, 230, 248);
    cursor: default;
}

#view-item-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

#new-item {
    margin: auto;
}

#update-item-button {
    margin-right: 15px;
}

#switch-closet-mode {
    margin: auto;
    border: none;
}

#update-item-button, #cancel-editing-button, #create-item {
    border: none;
}

/* Wash */
#wash-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.wash-label {
    margin: auto;
}

.wash-button {
    margin: auto;
}

.check {
    position: fixed;
    visibility: hidden;
}
