.hamburger {
    display: none;
}

#body-except-header {
    margin-left: 20px;
    margin-right: 20px;
}

#items-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#view-item-info-img-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

#view-item-img {
    min-height: 250px;
    padding: 10px;
    margin: auto;
}

#view-info {
   font-size: 17px;
   line-height: 25px;
   max-width: 300px;
}

.view-item-button {
    margin: 20px;
    min-height: 45px;
    line-height: 45px;
    font-size: 17px;
}

#view-item {
    max-width: 550px;
}

.clothes-category-button {
    width: 200px;
    margin: 7px 2px;
    font-size: 19px;
    text-align: center;
    max-height: 30px;
    padding: 7px 0px;
}

.clothes-category-button.hidden {
    margin-top: 0px;
    margin-bottom: 0px;
}

.clothes-category-button:after {
    padding-right: 10px;
}

.item-section {
    width: 200px;
}

.item-button {
    margin: auto;
}

#new-item {
    max-width: 704px;
    font-size: large;
    line-height: 35px;
    padding: 15px
}

select {
    font-size: medium;
}

input {
    font-size: medium;
}

button {
    font-size: medium;
}

input::file-selector-button {
    font-size: medium;
    padding: 4px 3px;
}

#new-item-img {
    margin-top: 5px;
}

#switch-closet-mode {
    font-size: 17px;
    min-height: 45px;
    min-width: 170px;
    margin-top: 40px;
}

#update-item-button, #cancel-editing-button, #create-item {
    margin-top: 15px;
    min-height: 40px;
    min-width: 100px;
}

#items-list {
    max-width: 250px;
    margin: auto;
}

/* Wash */
#wash-container {
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin: auto;
}

.wash-label {
    font-size: 22px;
    font-weight: 350;
    margin-left: 80px;
}

.wash-button {
    max-height: 300px;
    padding-top: 10px;
}

.check {
    top: -250px;
    max-width: 300px;
}

/* History */
#history-text {
    padding: 0px 20px;
}

#previous-week-history, #history-date, #update-history {
    padding: 10px 10px;
}

#history-date {
    left: 20px;
}

#update-history {
    left: -20px
}

#history-buttons {
    grid-template-columns: 1fr 1fr 1fr;
}
