.page-nav {
    display: none;
}

.ham-nav p {
    max-width: 300px;
    font-size: 25px;
}

#body-except-header {
    margin-left: 10px;
    margin-right: 10px;
}

#view-item-info-img-container {
    display: block;
    max-width: 337px;
    margin: auto;
}

#view-item-img {
    min-height: 250px;
    padding: 20px;
    margin: auto;
    margin-left: 50px;
}

#view-info {
   font-size: 18px;
   line-height: 28px;
   margin: auto;
   padding-bottom: 15px;
}

.view-item-button {
    margin: 10px;
    min-height: 45px;
    line-height: 45px;
    font-size: 17px;
    min-width: 50px;
}

#view-item {
    max-width: 700px;
}

.clothes-category-button {
    width: 300px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    text-align: center;
    max-height: 40px;
    line-height: 40px;
    padding: 9px 0px;
}

.clothes-category-button.hidden {
    margin-top: 0px;
    margin-bottom: 0px;
}

.clothes-category-button:after {
    padding-right: 10px;
}

.item-section {
    width: 300px;
}

#new-item {
    max-width: 704px;
    font-size: 20px;
    line-height: 50px;
    padding: 15px;
}

select, #last-worn, #number, #available, #name, #history-date {
    font-size: large;
    min-height: 35px;
}

input::file-selector-button {
    min-height: 45px;
    min-width: 110px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button:not(.hamburger, .item-button) {
    font-size: medium;
    min-height: 45px;
    min-width: 75px;
}

#new-item-img {
    margin-top: 5px;
}

#switch-closet-mode {
    font-size: 17px;
    min-height: 45px;
    min-width: 170px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#update-item-button, #cancel-editing-button, #create-item {
    margin-top: 15px;
    min-height: 50px;
    min-width: 120px;
    margin-right: 40px;
    margin-left: 12px;
}

#items-list {
    padding-bottom: 20px;
    min-height: 420px;
}

.item-button {
    min-height: 50px;
    min-width: 300px;
    font-size: large;
    background-color: rgb(229, 200, 255);
    margin-top: 5px;
}

#name, #color {
    margin-top: 10px;
    margin-left: 10px;
}

#view-item-buttons-container {
    column-gap: 0px;
}

/* Wash */
#wash-container {
    margin: auto;
}

.specific-wash-container {
    max-height: 375px;
    margin: auto;
}

.wash-label {
    font-size: 22px;
    font-weight: 350;
    margin-left: 80px;
}

.wash-button {
    max-height: 300px;
    padding-top: 10px;
}

.check {
    top: -250px;
    max-width: 300px;
}

/* History */
#previous-week-history, #history-date, #update-history {
    margin-bottom: 25px;
    padding: 0px 10px;
}

/* Outfits */
#outfit-options {
    text-align: center;
    line-height: 35px;
}

#create-outfits {
    margin: 15px 0px;
}

.outfit-container {
    text-align: center;
    line-height: 16px;
    margin-bottom: 20px;
}

.outfit-images-buttons {
    display: grid;
    grid-template-columns: auto auto;
}

.outfit-buttons {
   margin-top: 100px;
}

.outfit-images {
    margin-left: 10px;
}

img:not(#view-item-img) {
    max-height: 160px;
}

.wear-outfit-button {
    margin: 30px 0px;
}
